.input-container {
    display: flex;
    flex-direction: column;
    gap: 8px; 
}

.button-row {
    display: flex;
    flex-direction: row;
    gap: 8px; 
}

.number-button {
    margin: 2px;
    font-weight: bold;
    font-size: 24px;
    flex: 1;
    background-color: #11171D;
    color: #c0c0c0;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
}

.number-button:hover {
    background-color: #2d3c4a;
}

.score-input {
    color: #007C7C;
    background-color: #333;
    border: 1px solid #555;
    border-radius: 4px;
    padding: 16.5px 14px;
    width: 100%;
    margin-top: 1rem;
    box-sizing: border-box;
    font-size: 1rem;
}

.score-input::placeholder {
    color: #888;
}

.score-input:focus {
    outline: none;
    border-color: #007C7C;
}

.score-input.error {
    border-color: #d32f2f;
    color: #d32f2f;
}


.score-input[type=number] {
    -moz-appearance: textfield;
}

.score-input::-webkit-outer-spin-button,
.score-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}