.player-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 16px;
}

.player-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.player-title {
    font-size: 3rem;
    color: #007C7C;
    font-weight: bold;
}

.player-logo {
    width: 200px;
    height: 150px;
}

.player-item {
    font-weight: bold;
    margin: 0;
    padding: 0;
    padding-left: 16px;
    border-radius: 8px;
    background-color: #1F1F1F;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.player-name {
    font-size: 3rem;
    font-weight: bold;
    color: #007C7C;
}

.delete-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #007C7C;
}

.player-input-row {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.player-input {
    background-color: #333333;
    width: 100%;
    padding: 16.5px 14px;
    border: none;
    border-radius: 0.6rem;
    font-size: 1.3rem;
    font-weight: 600;
    outline: none;
    box-shadow: 0 0 0 2px #007C7C;
}

.play-button {
    background-color: #11171D;
    min-height: 3.5rem;
    color: #c0c0c0;
    border: none;
    font-size: large;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 0.5rem;
}


.player-rows-container {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: 0.5rem;
}