.player-card {
    min-width: 200px;
    flex: 1;
    justify-content: center;
    color: #E3DECE;
    padding: 16px;
    border-radius: 0.6rem;
}

.player-card-winner {
    background-color: #BC6249;
}

.player-card-playing {
    background-color: #11171D;
}

.player-card-name {
    font-size: 2.125rem;
    font-weight: 600;
    margin: 0 0 0.35em 0;
}

.player-card-score-label {
    font-size: 1.5rem;
    margin: 0;
}

.player-card-score-value {
    font-weight: 700;
    font-size: 6rem;
}

.player-card-score-finished {
    font-weight: 700;
    font-size: 2.125rem;
}

.player-card-avg {
    font-size: 0.875rem;
}