@font-face {
  font-family: 'PoetsenOne';
  src: url('../assets/fonts/PoetsenOne-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'PoetsenOne', Arial, sans-serif;
  margin: 0;
}

#root {
  height: 100vh;
}

.app-container {
  display: flex;
  padding: 16px;
  width: 100%;
  height: 100%;
  background-color: #0F1214;
  height: 100%;
  box-sizing: border-box;
  justify-content: stretch;

}