@font-face {
  font-family: 'PoetsenOne';
  src: url('/public/fonts/PoetsenOne-Regular.ttf') format(' truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #0F1214;
  font-family: 'PoetsenOne', Arial, sans-serif;
}

#root {
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 16px;
  gap: 48px;
}