h1,
p {
    margin: 0;
}

.game-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 100%;
    width: 100%;
}

.game-top-section {
    display: flex;
    flex: 1;
    gap: 40px;
    color: #E3DECE;
}

.current-player-display {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #11171D;
    padding: 1rem;
    border-radius: 20px;
    position: relative;
}

.current-player-name {
    font-size: clamp(50px, 10vw, 200px);
}

.current-player-score {
    font-size: clamp(50px, 14vw, 300px);
}

.current-player-avg {
    padding: 40px;
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 8px;
    bottom: 8px;
    font-size: 3rem;
}

.input-component-wrapper {
    display: flex;
    flex: 1;
}

.player-cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
}