.gamemodeContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: stretch;
    align-items: stretch;
    gap: 48px;
}

.game-mode-button {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(100px, 10vw, 300px);
    font-weight: bold;
    border-radius: 16px;
    cursor: pointer;
}

.game-mode-button:hover {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(100px, 10vw, 300px);
    font-weight: bold;
    border-radius: 16px;
    cursor: pointer;
}