h1,
p {
    margin: 0;
}

.game-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    height: 100dvh;
    overflow: visible;
    ;
}

.game-top-section {
    display: flex;
    flex: 1;
    gap: 40px;
    color: #E3DECE;
}

.current-player-display {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #11171D;
    padding: 1rem;
    border-radius: 20px;
    position: relative;
    color: #E3DECE;

}

.current-player-name {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;

    font-size: 65px;
}

.current-player-score {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    width: 50vw;

    font-size: 100px;
}

.current-player-avg {
    display: flex;
    flex-direction: row;
    font-size: 3rem;
}

.input-component-wrapper {
    display: flex;
    justify-content: space-between;
}

.player-cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
}

.currentPlayerRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.divider {
    display: flex;
    flex: 1;
    justify-content: center;
}

@media (orientation: portrait) {

    .currentPlayerRow {
        flex-direction: column;
    }

    .input-component-wrapper {
        flex-direction: column-reverse;
        gap: 1rem;
    }


    .current-player-name,
    .current-player-score {
        justify-content: center;
        height: 150px;
    }

}