h1,
p {
    margin: 0;
}

.gameContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    height: 100vh;
    overflow: visible;
}

.gameTopSection {
    display: flex;
    flex: 1;
    gap: 40px;
    color: #E3DECE;
}

.currentPlayerDisplay {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #11171D;
    padding: 1rem;
    border-radius: 20px;
    position: relative;
    color: #E3DECE;
}

.currentPlayerName {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    font-size: 10vw
}

.currentPlayerScore {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    width: 50vw;
    font-size: 15vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.currentPlayerAvg {
    display: flex;
    flex-direction: row;
    font-size: 3rem;
}

.inputComponentWrapper {
    display: flex;
    justify-content: space-between;
}

.playerCardsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
}

.currentPlayerRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;

}

.divider {
    display: flex;
    flex: 1;
    justify-content: center;
}

@media (orientation: portrait) {

    .currentPlayerRow {
        flex-direction: column;
    }

    .inputComponentWrapper {
        flex-direction: column-reverse;
        gap: 1rem;
    }

    .currentPlayerAvg {
        font-size: 2rem;
    }


    .currentPlayerName {
        display: block;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        font-size: 20vw;
    }

    .currentPlayerScore {
        justify-content: center;
        font-size: 30vw;
    }
}