.gamemodeContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 48px;
}

.game-mode-button {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: calc(33vh - 48px - 4.5em);
    border-radius: 16px;
    cursor: pointer;
    background-color: #222;
    color: #fff;
    user-select: none;
    font-weight: 600;
}